option_settings:
  aws:elasticbeanstalk:container:php:
    document_root: /public
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_DEBUG: false
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /public: public/

container_commands:
  01_composer_install:
    command: "composer install --no-dev --optimize-autoloader"
  02_artisan_migrate:
    command: "php artisan migrate --force"
  03_artisan_cache:
    command: |
      php artisan config:cache
      php artisan route:cache
      php artisan view:cache
  04_storage_permissions:
    command: |
      chmod -R 775 storage
      chmod -R 775 bootstrap/cache 